
DATABASE_URL="postgresql://usuario:senha@localhost:5432/db_name?schema=public"
JWT_SECRET="insira_sua_chave_secreta_aqui"

# --- Configuração do Redis (Filas BullMQ) ---
REDIS_HOST="localhost"
REDIS_PORT=6379

GEMINI_API_KEY="SUA_API_KEY"